h1{
    border: 1px thick;
    border-style: solid;
    margin-right: 600px;
    text-align: center;
    color: aquamarine;

}
form{
    background-image: url(images/background.jpg);
    background-size:cover;
    margin-right: 500px;
}
body{
    margin-left: 50px;
    border: 500px;
    font-size:xx-large;
    font-family: 'Times New Roman', Times, serif;
    text-emphasis-color: aqua;
    color: rgb(253, 215, 78);
}
.fixec-button{
    float: inline-start;

}