/* body{
    margin: 10px;
    padding: 10px;

}
form{
    /* background-size:cover; */
    /* margin-right: 500px;
    background-color: gray;
    border-style: inset;
}




label#form{
    float: right;
}  */